<body>
  <h4></h4>
  <div>
    <p>create your account</p>
    <hr>
    <%=form_tag mypage_path do%>
    <p><input type="text" placeholder="name"></p>
    <p><input type="email" placeholder="email"></p>
    <p><input type="password" placeholder="password"></p>
    <p><input type="submit" value="CREATE"></p>
    <%end%>
  </div>
</body>
