<body>
  <div>
    <p>send an invitation</p>
    <hr>
    <%=form_tag end_path do%>
    <p><input type="email" placeholder="email"></p>
    <p><input type="submit" value="SEND"></p>
    <%end%>
  </div>
</body>
