// Place all the styles related to the friends controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #444444;
}
div{
  margin: 150px auto;
}
p{
  color: white;
  text-align: center;
}
hr{
  color: #bbd26d;
  width: 200px;
}
a{
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  margin: 20px auto 0 auto;
  color: white;
  background-color: #bbd26d;
}
