<p id="notice"><%= notice %></p>

<h1>映画評価</h1>
<br>
<br>
  <%= form_tag :search_user_index, method: :get do %>
  <p><%= text_field_tag "q",params[:q] %>
  <%= submit_tag "検索" %></p>
  <% end %>
<br>
<br>
<% @dismovie.each do |user| %>
  <%= link_to user.movie_name, root_path(user, q: user.movie_name) %>
  <br>
  <% end %>
<%= link_to "全員表示", root_path %>
<br>
<table>
  <thead>
    <tr>
      <th>ユーザ名</th>
      <th>映画タイトル</th>
      <th>評価</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.movie_name %></td>
      <td><%= user.movie_eval %></td>
    </tr>
  <% end %>
  </tbody>
</table>
